<form
  style="width:100%"
  action="/tipis/<%= tipi.id %>/messages/create"
  method="post"
  class="newMessageForm"
>
  <div class="form-group">
    <textarea
      class="form-control"
      name="body"
      aria-describedby="bodyHelp"
      placeholder="Type a message"
    ></textarea>
    <small class="text-muted" id="bodyHelp"
      >message must be 1 or more characters in length.</small
    >
  </div>
  <button type="submit" class="btn btn-primary sendMessage-btn">Send</button>
</form>
