<% if(message) { %>
<div>
  <small class="card-subtitle mb-2 text-muted">
    <!-- Logic to extract and format DATE-->
    <%= message.User.name %>
  </small>
  <small class="card-subtitle mb-2 text-muted">
    <!-- Logic to extract and format DATE-->
    <% let originalDate = (message.createdAt).toString() %> <% let formattedDate
    = ""; %> <% for(let i = 0; i <= 20; i++) { %> <% formattedDate +=
    originalDate[i]; %> <% } %> on <%= formattedDate %>
  </small>
  <div class="bubbles">
    <p class="speech-bubble" style="width: 170px">
      <%= message.body %>
    </p>
  </div>
</div>
<% } %>
